<div class="half-page">
  <h2 class="big">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p><%= f.label :email, :class => "spaced" %><br />
      <%= f.email_field :email, autofocus: true %></p>
    </div>

    <div class="field">
      <p><%= f.label :password, :class => "spaced" %><br />
      <%= f.password_field :password, autocomplete: "off" %></p>
    </div>

    <div class="field">
      <p><%= f.label :password_confirmation, :class => "spaced" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></p>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "blue-button sign-up" %>
    </div>
  <% end %>

</div>

<div class="half-page">
  <p class="big">Just stopping by for a visit?</p>
  <div class="registration">
    <p class="spaced">Click <%= link_to "Log in", new_session_path(resource_name) %> for directions</p>
  </div>
</div>
