<div class="half-page">
  <p class="big">HOME BASE</p>
  <p class="spaced">Each player gets 5 ships</p>
  <p class="spaced">Take turns shooting</p>
  <p class="spaced">Sink all the opponent's ships to WIN!</p>
  
  <p><%= link_to "NEW GAME", new_game_path, :class => "blue-button plain" %></p>

</div>

<div class="half-page">
  <p class="big">STATS</p>
  <p>Total games played: <%= @stats.total_games %></p>
  <p>Total games won: <%= @stats.games_won %></p>
  <p>Ships you have sunk: <%= @stats.enemy_sunk_ships %></p>
  <p>Ships you have lost: <%= @stats.sunk_ships %></p>
  <p>Last game: <%= @stats.game_status %></p>
</div>