<div class="half-page">
  <p class="big">HOME BASE</p>
  <p class="spaced">Each player gets 5 ships</p>
  <p class="spaced">Take turns shooting</p>
  <p class="spaced">Sink all the opponent's ships to WIN!</p>
  
  <p><%= link_to "NEW GAME", new_game_path, :class => "blue-button plain" %></p>
</div>

<div class="half-page">
  <p class="big">STATS</p>
  <p>Total games played: <%= current_user.total_games %></p>
  <p>Total games won: <%= current_user.games_won %></p>
  <p>Ships you have sunk: <%= current_user.enemy_sunk_ships %></p>
  <p>Ships you have lost: <%= current_user.lost_ships %></p>
  <p>Last game result: <%= current_user.last_game_result %></p>
</div>
