<!DOCTYPE html>
<html>
  <head>
    <title>BattleShip</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Josefin+Sans:700', 'https://fonts.googleapis.com/css?family=Sigmar+One', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

    <div id="header">
      <span id="battleship-title">BATTLESHIP</span>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :id => "logout" %>
      <% end %>
    </div>
    
    <div class="wrapper">
      <div id="notifications">
        <% if notice %>
          <p class="alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>
    </div>
    <div id="footer">
      <span id="contact-info">Enjoying this game?  <a href="https://www.linkedin.com/in/garettarrowood" target="_blank" id="contact-link">Check out the creator</a></span>
      <span id="code"><a href="https://github.com/garettarrowood/Battle_Ship" target="_blank" id="code-link">Check out the code</a></span>
    </div>
  </body>
</html>
